<body>
<div class="row">
  <div class="col-sm-12">

    <hr>
    <h3 *ngIf="error">{{error}}</h3>
    <div [hidden]="submitted" style="width: 400px;">
      <form (ngSubmit)="onSubmit()" class="login-form">
        <div class="header">
          <h3>Login</h3>
          <span>Fill out the form below to login.</span>
        </div>
        <div class="content">
        <div class="form-group">
          <label class="label-1" for="name">Name</label>
          <input type="text" class="form-control" id="name" required [(ngModel)]="userName" name="name">
        </div>

        <div class="form-group">
          <label class="label-2" for="Password">Password</label>
          <input type="password" class="form-control" id="Password" required [(ngModel)]="password" name="Password">
        </div>
        </div>
        <div class="footer">
        <button type="submit" class="btn btn-success login">Login</button>
        <button (click)="redir()" class="btn btn-success login" style="margin-left: 5px;">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>

<br>
</body>
